<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/faces-template/facesLayout.xhtml">

		<ui:define name="content">
			<h:form>
				<p:row>
					<p:column>
						<h:messages id="message" showDetail="false" showSummary="true"
							layout="table" style="color:red" />
						<p:commandButton action="menu" value="okay" id="submit"
							immediate="true" />

					</p:column>
				</p:row>
			</h:form>
		</ui:define>

		<ui:define name="footer">

		</ui:define>
	</ui:composition>
</h:body>
</html>