<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/faces-template/facesLayout.xhtml">

		<ui:define name="content">
			<f:view>
				<h:form id="form">
					<p:panelGrid headerClass="TableHeader">

						<f:facet name="footer">
							<p:row>
								<p:column>
									<h:messages id="message" showDetail="false" showSummary="true"
										layout="table" style="color:red" />
									<p:commandButton action="submit" value="submit" id="submit"
										immediate="false" />
									<p:commandButton action="menu" value="Return" id="memu"
										immediate="false" />
								</p:column>
							</p:row>
						</f:facet>
					</p:panelGrid>
				</h:form>

				<ui:define name="footer">

				</ui:define>
			</f:view>
		</ui:define>
	</ui:composition>
</h:body>
</html>