<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/faces-template/facesLayout.xhtml">
	<ui:param name="currentModule" value="page not found" />

	<h1>URL Unavailable Try Again</h1>

</ui:composition>