<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/faces-template/facesLayout.xhtml">
	<ui:param name="currentModule" value="Error" />
	<h1>Unexpected Error, Please contact EDS Administrator</h1>
	<ul>
		<li>Date/time: #{of:formatDate(now, 'yyyy-MM-dd HH:mm:ss')}</li>
		<li>User agent: #{header['user-agent']}</li>
		<li>User IP: #{request.remoteAddr}</li>
		<li>Request URI:
			#{requestScope['javax.servlet.error.request_uri']}</li>
		<li>Ajax request: #{facesContext.partialViewContext.ajaxRequest ?
			'Yes' : 'No'}</li>
		<li>Status code:
			#{requestScope['javax.servlet.error.status_code']}</li>
		<li>Exception type:
			#{requestScope['javax.servlet.error.exception_type']}</li>
		<li>Exception message:
			#{requestScope['javax.servlet.error.message']}</li>
		<li>Stack trace: <pre>#{of:printStackTrace(requestScope['javax.servlet.error.exception'])}</pre>
		</li>
	</ul>
</ui:composition>