<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/faces-template/facesLayout.xhtml">
	<ui:param name="currentModule" value="Error" />
	<ui:define name="content" style="float:left">
		<f:view>
			<br />
			<h:outputText value="Error Code: #{errorHandler.statusCode}"></h:outputText>
			<br />
			<h:outputText value="Error Desscription: #{errorHandler.message}"></h:outputText>
			<br />
			<h:outputText value="Exception Type: #{errorHandler.exceptionType}"></h:outputText>
			<br />
			<h:outputText value="Exception Class: #{errorHandler.exception}"></h:outputText>
			<br />
			<h:outputText value="Request URI : #{errorHandler.requestURI}"></h:outputText>
		</f:view>
	</ui:define>

</ui:composition>
