<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<!-- <f:loadBundle basename="resources.properties" var="msg" /> -->

<head>
<title><h:outputText value="#{msg.welcomeTitle}" /></title>
</head>

<body>
	<h3>
		<h:outputText value="#{msg.welcomeHeading}" />
	</h3>
	<p>
		<h:outputText value="#{msg.welcomeMessage}" />
	</p>
	<f:view>
		<h:form>


			<h:outputLink disabled="false" value="app/sampleflow">
				<h:outputText value="Sample Flow" />
			</h:outputLink>
		</h:form>
	</f:view>
</body>
</html>
