<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:p="http://primefaces.org/ui">

<h:body bgcolor="white">
	<ui:composition template="/faces-template/facesLayout.xhtml">
		<ui:param name="currentModule" value="System Login" />
		<ui:define name="content">
			<f:view>

				<form action="j_security_check" method="POST">


					<h:panelGrid columns="2">
						<h:outputText value="Username: " />
						<h:inputText id="j_username" style="width: 170px;" />
						<h:outputText value="Password: " />
						<h:inputSecret id="j_password" style="width: 170px;" />
					</h:panelGrid>
					<h:panelGrid>
						<h:commandButton type="submit" value="Login" />
					</h:panelGrid>
				</form>

				<ui:define name="footer">

				</ui:define>
			</f:view>
		</ui:define>
	</ui:composition>
</h:body>

</html>