<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<h:head>
 </h:head>

<h:body>

	<div id="page">

		<div id="header">
			<ui:insert name="header">
				<ui:include src="/faces-template/facesHeader.xhtml" />
 			</ui:insert>
		</div>

		<div id="content"
			style="float: left; width: 99%; background: #ffffff; padding: 0px 10px;">
			<ui:insert name="content">
				<ui:include src="/faces-template/facesContent.xhtml" />
			</ui:insert>
		</div>

		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="/faces-template/facesFooter.xhtml" />
			</ui:insert>
		</div>

	</div>

</h:body>
</html>