<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<h2>ALL TAGS ABOVE THIS LINE WILL BE REMOVED BY JSF</h2>
	<ui:composition>

 

	</ui:composition>
	ALL TAGS BELOW THIS LINE WILL BE REMOVED BY JSF
</body>
</html>